<div class="products-grid">
  {{#each this}}
  <ul class="product-card">
    <li class="product-field field-id">
      <span class="field-label">ID:</span>
      <p class="field-value">{{ id }}</p>
    </li>
    <li class="product-field field-name">
      <span class="field-label">Name:</span>
      <p class="field-value">{{ name }}</p>
    </li>
    <li class="product-field field-price">
      <span class="field-label">Price:</span>
      <p class="field-value">{{ price }}</p>
    </li>
    <li class="product-field field-description">
      <span class="field-label">Description:</span>
      <p class="field-value">{{ description }}</p>
    </li>
  </ul>
  {{/each}}
</div>